<div class="todo-list">
    <h1>Todo List</h1>
    <app-todo-filter 
        class="todo-list-filter"
        [filters]="filters" 
        (setFilterEvent)="setFilter($event)"></app-todo-filter>
    <form 
        class="todo-form" 
        (ngSubmit)="saveTodo()">
        <input 
            type="text" 
            class="todo-form-input" 
            name="todoText" 
            placeholder="Something to do..."
            autocomplete="off"
            [(ngModel)]="todoText" />
    </form>
    <div class="todo-list-items">
        <app-todo-item 
            class="todo-item" 
            *ngFor="let item of filteredTodos; index as i" 
            [item]="item"
            (setCompletedItemEvent)="setCompletedItem($event)"
            (editItemEvent)="editItem($event)"
            (deleteItemEvent)="deleteItem($event)"></app-todo-item>
    </div>
</div>