<div class="todos-list">
    <form 
    class="todos-form" 
    #f="ngForm"
    (ngSubmit)="f.valid && saveTodo()">
    <input 
        type="text" 
        class="todos-form-input" 
        name="todoText" 
        placeholder="Something to do..."
        autocomplete="off"
        required
        #todoInput
        [(ngModel)]="todoText" />
    </form>
    <div 
        class="todos-list-items" 
        *ngIf="todos.length > 0; else noTodos">
        <app-todo-item 
            class="todo-item" 
            *ngFor="let todo of todos | todosFilter:filters" 
            [item]="todo"
            (editItemEvent)="editItem($event)"
            (toggleCompletedEvent)="toggleCompleted($event)"
            (deleteItemEvent)="deleteItem($event)"></app-todo-item>

    </div>
</div>

<ng-template #noTodos>
    <p>No todos added yet.</p>
</ng-template>