/* You can add global styles to this file, and also import other style files */

html {
    font-size: 16px;
    background-color: #151b2f;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

input, button {
    outline: none;
    font-size: inherit;
}
